composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

#########################
# By default:
# Ignore all core Drupal files.
# On a prodcution steps you may comment theses ignore to push the real code
# in git.
web/*.*
web/includes
web/misc
web/modules
web/scripts
web/translations
web/themes
web/profiles/*
web/sites

# Symfony local settings
app/config/parameters.yml

# Ignore vendor provided binaries
# Find a better way for this (another folder?)
sbin/behat
sbin/console
sbin/doctrine
sbin/doctrine-dbal
sbin/doctrine.php
sbin/drush.bat
sbin/drush.complete.sh
sbin/drush.launcher
sbin/drush.php
sbin/lessc
sbin/php-parse
sbin/phpunit
sbin/psysh

# Ignore sourcemaps
/web/profiles/saur/themes/*/dist/maps

# Because we have beard, let's use composer
vendor
lib/cache
lib/vendor
web/sites/all/modules/composer
web/sites/all/libraries/composer
web/sites/all/themes/composer
# ... and Xdebug
web/sites/*/modules/contrib/devel

# even after activating full project versioning in production you will still need
# to ignore theses files:
web/sites/default
web/sites/all/README.txt
web/sites/default/default.settings.php
web/sites/example.sites.php
web/sites/sites.php
web/sites/README.txt
web/PATCHES.txt
web/sites/all/translations
web/.gitignore

# In case you manage non salted /data directory in a /sites directory
# with symlinks from web/sites/default to /sites/default
# We do not want to store in git most of this content. Except the common.settings.php
# But do not forget this common.settings.php is not the one used by salt
# the real one should be in: .salt/files/common.settings.php
/web/sites/*/files
# /web/sites/*/modules/*
/web/sites/*/*settings*
# /web/sites/*/libraries/*
# /web/sites/*/modules/*
# /web/sites/*/themes/*
!/sites/*/common.settings.php
!/sites/*/local.settings.*.php

# Exceptions inside Drupal files (custom code).
# !web/sites/*/modules/custom
# !web/sites/*/themes/custom
# !web/sites/*/libraries/custom
# !web/monitor*

# WARNING: You will want to use your custom profile's real name below.
!web/profiles/harmonie

# Ignore vendor files (drush), comment for production release
sbin/vendor
sbin/composer.json
sbin/composer.phar
sbin/composer.lock
sbin/.upgrades.done
/sbin/user_rights*

# Ignore conf files
sbin/profile_conf.sh
sbin/local_conf.sh

# Uncomment following line if modifying Drupal's .htaccess ?
# but really, you should not, either work on Nginx config files or real Apache config files
#!web/.htaccess

# npm modules
node_modules
yarn.lock

# this behat conf is generated by salt
resources/behat.yml

# Documentation builds
doc/_build
docs/output/*.odt
docs/output/*.pdf

# ignore runtime files
/lib/
/log
/private
/tmp
/var
/app/cache
/app/logs

#ignore apache conf
/etc/*

# Ignore IDE and OS-related files
.buildpath
.metadata
.settings
.project
.idea
.DS_Store
*.DS_Store
nbproject
.hg
atlassian-ide-plugin.xml
*~
~*
\#*#
*.mo

# Ignore /bin directory
/bin

# Ignore jenkins results
.jenkins/build

.fuse*

# Ignore POT file
web/.pot

